.page-topnews {
  display: flex;
  width: 780px;
  margin-top: 26px;
  padding-left: 5px;
}
.page-topnews__header-content {
  width: 66.66%;
}
.page-topnews__header-items {
  margin-left: 40px;
  display: flex;
  align-items: center;
  width: 519px;
  word-spacing: -3px;
  letter-spacing: 0px;
}
.page-topnews__header-item {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 600;
}
.page-topnews__header-datetime {
  font-size: 11px;
  font-weight: 200;
  margin-top: 2px;
  margin-left: -1px;
  color: #999999;
}
.datetime_date {
  margin-right: 5px;
  letter-spacing: 1px;
  word-spacing: -7px;
}
.datetime_day {
  margin-right: 5px;
}
.datetime_month {
  margin-right: 5px;
  font-size: 11px;
}
.datetime_time {
  font-size: 11px;
  word-spacing: 1px;
}
.page-topnews__main-list {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-left: 20px;
}
.page-topnews__main-list-favico {
  width: 13px;
  height: 13px;
  background-color: #999999;
  margin-right: 7px;
}
.page-topnews__main-list__item {
  margin-bottom: 11px;
  display: flex;
}
.page-topnews__currency {
  display: flex;
}
.page-topnews__currency {
  margin-left: 39px;
}
.page-topnews__currency__item {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
}
.page-topnews__currency-link {
  margin-right: 8px;
}
.page-topnews__currency__value {
  margin-right: 10px;
}
.page-topnews__promo {
  width: 33.33%;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
}
.page-topnews__promo__image {
  margin-top: 5px;
  margin-left: 39px;
}
.page-topnews__promo__title {
  margin-top: 12px;
  margin-left: 39px;
  font-size: 16px;
  font-weight: 600;
  word-spacing: -3px;
}
.page-topnews__promo__description {
  margin-top: 5px;
  margin-left: 39px;
  font-size: 13px;
  width: 145px;
  line-height: 1.3;
}
._down {
  color: red;
}
._up {
  color: green;
}
