.page-widgets {
  margin-top: 36px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 730px;
}
.page-widgets__item {
  margin-right: 30px;
  margin-left: 0;
  width: 230px;
}
.item_map {
  width: 200px;
  margin-right: 0;
}
.page-widgets__item-header {
  font-size: 16px;
  font-weight: 600;
  word-spacing: -2px;
  margin-left: 4px;
  display: flex;
}
.page-widgets__item-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
}
._map {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-top: 8px;
}
.page-widgets__item-image {
  width: 48px;
  height: 48px;
}
.image_weather {
  background-image: url(//yastatic.net/s3/home-static/2.2052/common/blocks/weather-icons/general/ovc-ra-sn.png);
}
.image_traffic {
  width: 33px;
  height: 30px;
  margin-left: 6px;
  margin-top: 3px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='30' viewBox='0 0 33 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M28.833 17.404c.027-.37 0-1.506 0-1.882 0-8.254-6.681-14.945-14.922-14.945-4.065 0-7.717 1.661-10.44 4.265C1.024 7.18 0 10.579 0 12.962c0 3.046 1.89 4.442 3.466 4.442h25.367z' fill='%23efb30e'/%3E%3Cpath d='M33 15c0 7.965-6.458 14.423-14.423 14.423-7.964 0-14.422-6.458-14.422-14.423C4.155 7.034 10.613.577 18.577.577 26.542.577 33 7.034 33 15z' fill='%23fc0'/%3E%3Cpath d='M18.323.58l.254-.003C26.542.577 33 7.034 33 15c0 .572-.034 1.137-.099 1.692-2.3-.014-4.073-.994-4.653-3.75-1.092-5.193-4.832-9.635-9.904-11.474a15.41 15.41 0 0 0-2.452-.642h.003a15.791 15.791 0 0 0-2.51-.246h4.938z' fill='%23333'/%3E%3C/g%3E%3C/svg%3E ");
}
.page-widgets__item-num {
  font-size: 30px;
  margin-left: 6px;
  margin-top: 3px;
}
.page-widgets__item-info {
  margin-left: 11px;
  margin-top: 3px;
  width: 230px;
}
.traffic-info {
  margin-left: 17px;
  margin-top: 11px;
}
.map-info {
  margin-right: 2px;
  width: auto;
}
.map-info:last-child {
  margin-top: 11px;
  margin-left: 10px;
}
.high-info {
  width: auto;
}
.widgets-lower {
  margin-top: 22px;
}
._lower {
  margin-left: 5px;
  margin-top: 10px;
  word-spacing: -1px;
}
._lower-last {
  margin-top: 12px;
}
._lower-tv {
  width: auto;
  margin-top: 0;
  margin-right: 2px;
  line-height: 16px;
}
.page-widgets__item-text_bold {
  font-weight: 600;
}
.page-widgets__item-tv-inner {
  display: flex;
  width: 200px;
  height: 37px;
  margin-top: 6px;
}
.tv-header {
  margin-left: 3px;
}
.tvnow-header {
  margin-bottom: 10px;
  margin-left: 11px;
  margin-top: -1px;
}
.tv-link {
  margin-right: 5px;
}
.page-widgets__item-header-button {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
  background-image: linear-gradient(315deg, #58c2ff 0%, #8080ff 100%);
  color: white;
  border: 0;
  border-radius: 3px;
  margin-left: 0px;
  margin-top: -3px;
  width: 51px;
}
.tv-item-last {
  margin-top: -11px;
}
.tv-info-link {
  margin-left: 9px;
}
.no-margin-left {
  margin-left: 0;
}
.widget-tv {
  margin-right: 23px;
}
.widget-tvnow {
  width: 150px;
  margin-top: 22px;
}
.tvnow {
  margin-top: 0px;
  margin-left: -8px;
  height: 30px;
}
.tvnow-item-center {
  margin-top: -4px;
  width: 210px;
}
.tvnow-item-last {
  margin-top: 12px;
  width: 210px;
}
.tvnow-info-link {
  margin-left: 9px;
}
.page-widgets__item-favicon {
  display: block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
}
