@headlinecolor: #9D9D9D;

.row {
    display: flex;
    .geolink {
        color: @headlinecolor;
    }
}


.headline__leftcorner {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.headline__bar {
    height: 42px;
    width: 167.39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites {
    height: 42px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
}

.notifier {
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
}

.headline__bar-icon {
    height: 36px;
    width: 36px;
    background-color: @headlinecolor;
}

.head-options {
    color: black;
    padding-left: 12px;
}

.headline-link {
    text-decoration: none;
}