.page-header {
  height: 42px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px 0 30px;
  margin: 4px 200px 6px 0;
}
.page-header__item {
  display: flex;
  align-items: center;
}
.page-header__button {
  color: #999999;
}
.page-header__icon-geo {
  width: 19px;
  height: 19px;
}
._left {
  margin-left: -6px;
  margin-top: 3px;
  width: 101px;
}
._geo {
  width: 100px;
  display: flex;
}
._right {
  margin-right: 9px;
}
._favorites {
  margin-right: 3px;
}
._notifier {
  margin-right: 15px;
}
._options {
  width: 63px;
  color: black;
}
.page-header__icon {
  width: 36px;
  height: 36px;
  fill: #999999;
}
.row-last {
  margin: 0 auto;
  width: 902px;
}
.media-grid__row {
  margin-top: 22px;
  width: 902px;
  padding-bottom: 35px;
}
.media-service__header {
  font-weight: 400;
}
.media-service__header-title {
  height: 23px;
  text-align: left;
  font-size: 23px;
  margin-bottom: 0;
  margin-top: 0;
}
.media-service__desc {
  font-size: 16px;
  line-height: 1.4;
  margin: 4px 0 0;
  opacity: .4;
}
.media-service__tabs {
  display: flex;
  position: relative;
  z-index: 1;
}
.media-service__tab {
  display: inline-block;
  background-color: #E6E6E6;
  padding: 10px 16px;
  border-radius: 3px;
  margin: 8px 8px 0 0;
}
.media-service__tab_selected {
  color: white;
  background-color: black;
}
.media-service__panels {
  min-height: 218px;
  margin-bottom: -2px;
  padding-top: 24px;
}
.media-service__panel {
  position: relative;
  height: 236px;
  margin-top: -35px;
}
.carousel {
  padding-top: 35px;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-bottom: -30px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
  white-space: nowrap;
}
.media-service__film:first-child {
  margin-left: 0;
}
.media-service__film {
  position: relative;
  width: 120px;
  margin-bottom: 2px;
  margin-left: 16px;
  padding: 0;
  vertical-align: top;
  white-space: normal;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
.media-service__film-inner {
  height: 180px;
  border-radius: 6px 6px 6px 8px;
  background: #dfdcd7 no-repeat 50% url(//yastatic.net/www/_/y/4/Jy-b3BgSC_rSXwEgmmoYVtrdE.svg);
  background-size: 54px 40px;
  display: block;
}
.media-service__film-content {
  height: 32px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.media-service__film-title {
  display: block;
  line-height: 1.24em;
  overflow: hidden;
  height: 16px;
  font-size: 100%;
  position: relative;
  text-align: center;
}
.kinopoisk__film-title {
  height: 32px;
  line-height: 1.24em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-word;
}
.afisha__film-title {
  text-align: left;
}
.media-service__film-genre {
  height: 16px;
  line-height: 1.24em;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  opacity: .4;
}
.media-service__more {
  font-size: 100%;
  line-height: 1.27;
  display: block;
  height: auto;
  cursor: pointer;
  white-space: nowrap;
}
.media-service__more-text {
  line-height: 1.16;
  display: inline-block;
  margin-right: 7px;
  color: black;
  text-decoration: none;
  outline: none;
}
.media-service__stream-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media-stream__content {
  height: 274px;
  margin-top: 15px;
}
.media-stream__items {
  width: 902px;
  height: 274px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.media-stream__item {
  width: 16.66%;
  height: 121px;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-right: 0;
  padding-right: 16px;
  cursor: pointer;
  vertical-align: top;
  color: inherit;
  outline: 0;
  text-decoration: none;
}
.media-service__image {
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  background-color: #e6e6e6;
  background-size: cover;
  border-radius: 6px;
}
.media-service__item-title {
  height: 32px;
  line-height: 1.24em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: 8px;
  text-align: center;
}
.zen__container {
  padding-top: 10px;
  width: 918px;
}
.feed__row {
  width: 926px;
  margin-bottom: 8px;
  display: flex;
}
.feed__item {
  height: 316px;
  padding: 0px 4px;
  box-sizing: border-box;
}
._size_small {
  width: 33.33%;
}
._size_big {
  width: 66.66%;
}
._size_free {
  width: 100%;
}
.feed__item-image {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: black;
  width: 100%;
  height: 100%;
}
.feed__item-image__content {
  padding-top: 132px;
  padding-left: 24px;
  position: relative;
  z-index: 2;
  padding-right: 23px;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 44px;
  border-radius: 4px;
}
.image_big__content {
  width: 46%;
  padding-right: 0;
  padding-top: 28px;
}
.item-image__content-header {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-family: bold-ysans, sans-serif;
  text-align: left;
}
.item-image__content-text {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-family: regular-ysans, sans-serif;
  color: #E6E6E6;
}
.collections__item-shadows {
  position: absolute;
  top: -5px;
  right: 8px;
  left: 8px;
  width: 156px;
  height: 5px;
  border-radius: 4px 4px 0 0;
  background-color: #91996E;
  display: block;
}
.collections__item-shadows_2 {
  width: 136px;
  display: block;
  top: -10px;
  right: 18px;
  left: 18px;
}
.collections__item {
  position: relative;
  width: 172px;
  height: 212px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 0;
  padding: 0;
  vertical-align: top;
  white-space: normal;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
.collections__item-image {
  display: block;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  position: relative;
  width: 172px;
  height: 172px;
  background-color: #91996e;
}
.collections__item-text {
  height: 32px;
  line-height: 1.24em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: 8px;
  font-size: 100%;
  position: relative;
  text-align: center;
}
.page-topnews {
  display: flex;
  width: 780px;
  margin-top: 26px;
  padding-left: 5px;
}
.page-topnews__header-content {
  width: 66.66%;
}
.page-topnews__header-items {
  margin-left: 40px;
  display: flex;
  align-items: center;
  width: 519px;
  word-spacing: -3px;
  letter-spacing: 0px;
}
.page-topnews__header-item {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 600;
}
.page-topnews__header-datetime {
  font-size: 11px;
  font-weight: 200;
  margin-top: 2px;
  margin-left: -1px;
  color: #999999;
}
.datetime_date {
  margin-right: 5px;
  letter-spacing: 1px;
  word-spacing: -7px;
}
.datetime_day {
  margin-right: 5px;
}
.datetime_month {
  margin-right: 5px;
  font-size: 11px;
}
.datetime_time {
  font-size: 11px;
  word-spacing: 1px;
}
.page-topnews__main-list {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-left: 20px;
}
.page-topnews__main-list-favico {
  width: 13px;
  height: 13px;
  background-color: #999999;
  margin-right: 7px;
}
.page-topnews__main-list__item {
  margin-bottom: 11px;
  display: flex;
}
.page-topnews__currency {
  display: flex;
}
.page-topnews__currency {
  margin-left: 39px;
}
.page-topnews__currency__item {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
}
.page-topnews__currency-link {
  margin-right: 8px;
}
.page-topnews__currency__value {
  margin-right: 10px;
}
.page-topnews__promo {
  width: 33.33%;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
}
.page-topnews__promo__image {
  margin-top: 5px;
  margin-left: 39px;
}
.page-topnews__promo__title {
  margin-top: 12px;
  margin-left: 39px;
  font-size: 16px;
  font-weight: 600;
  word-spacing: -3px;
}
.page-topnews__promo__description {
  margin-top: 5px;
  margin-left: 39px;
  font-size: 13px;
  width: 145px;
  line-height: 1.3;
}
._down {
  color: red;
}
._up {
  color: green;
}
.page-nav {
  margin-left: 176px;
  margin-top: 31px;
}
.page-nav__tabs {
  margin-bottom: 11px;
}
.page-nav__tab {
  font-size: 15px;
  margin-right: 17px;
}
.page-nav__tab:nth-child(2) {
  margin-right: 20px;
}
.page-nav__tab:nth-child(3) {
  margin-right: 18px;
}
.page-nav__tab:nth-child(4) {
  margin-right: 19px;
}
.page-nav__tab:nth-child(6) {
  margin-right: 20px;
}
.page-nav__logo {
  position: absolute;
  left: 31px;
  top: 267px;
  width: 140px;
  height: 100px;
  background: url(//yastatic.net/www/_/_/i/tLI86LIriNsIJwhEqZS2o1Ckk.webp) no-repeat;
}
.page-nav__search-form {
  display: flex;
}
.page-nav__search-input {
  width: 512px;
  border: 2px solid #FFDB4D;
  outline: none;
}
.page-nav__search-button {
  width: 86px;
  font-size: 16px;
  height: 36px;
  text-align: center;
  background-color: #FFDB4D;
  padding-left: 0;
  border: 0;
  clip-path: polygon(0% 0%, /* верхняя левая */ 0% 0%, /* верхняя левая */ 89% 0%, /* верхняя правая */ 100% 48%, /* верхняя правая */ 0% 537%, /* нижняя правая */ 0% 0%, /* нижняя правая */ 0% 0%, /* нижняя левая */ 10% 0% /* нижняя левая */);
}
.page-nav__search-bottom {
  display: flex;
  margin-top: 8px;
}
.link_grey {
  color: #999999;
}
.page-advbar {
  margin-left: 45px;
  margin-top: 19px;
  width: 726px;
  height: 88px;
  border: 1px solid #999999;
}
.page-advbar__image {
  border: 0;
  width: 100%;
  height: 100%;
}
.page-widgets {
  margin-top: 36px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 730px;
}
.page-widgets__item {
  margin-right: 30px;
  margin-left: 0;
  width: 230px;
}
.item_map {
  width: 200px;
  margin-right: 0;
}
.page-widgets__item-header {
  font-size: 16px;
  font-weight: 600;
  word-spacing: -2px;
  margin-left: 4px;
  display: flex;
}
.page-widgets__item-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
}
._map {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-top: 8px;
}
.page-widgets__item-image {
  width: 48px;
  height: 48px;
}
.image_weather {
  background-image: url(//yastatic.net/s3/home-static/2.2052/common/blocks/weather-icons/general/ovc-ra-sn.png);
}
.image_traffic {
  width: 33px;
  height: 30px;
  margin-left: 6px;
  margin-top: 3px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='30' viewBox='0 0 33 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M28.833 17.404c.027-.37 0-1.506 0-1.882 0-8.254-6.681-14.945-14.922-14.945-4.065 0-7.717 1.661-10.44 4.265C1.024 7.18 0 10.579 0 12.962c0 3.046 1.89 4.442 3.466 4.442h25.367z' fill='%23efb30e'/%3E%3Cpath d='M33 15c0 7.965-6.458 14.423-14.423 14.423-7.964 0-14.422-6.458-14.422-14.423C4.155 7.034 10.613.577 18.577.577 26.542.577 33 7.034 33 15z' fill='%23fc0'/%3E%3Cpath d='M18.323.58l.254-.003C26.542.577 33 7.034 33 15c0 .572-.034 1.137-.099 1.692-2.3-.014-4.073-.994-4.653-3.75-1.092-5.193-4.832-9.635-9.904-11.474a15.41 15.41 0 0 0-2.452-.642h.003a15.791 15.791 0 0 0-2.51-.246h4.938z' fill='%23333'/%3E%3C/g%3E%3C/svg%3E ");
}
.page-widgets__item-num {
  font-size: 30px;
  margin-left: 6px;
  margin-top: 3px;
}
.page-widgets__item-info {
  margin-left: 11px;
  margin-top: 3px;
  width: 230px;
}
.traffic-info {
  margin-left: 17px;
  margin-top: 11px;
}
.map-info {
  margin-right: 2px;
  width: auto;
}
.map-info:last-child {
  margin-top: 11px;
  margin-left: 10px;
}
.high-info {
  width: auto;
}
.widgets-lower {
  margin-top: 22px;
}
._lower {
  margin-left: 5px;
  margin-top: 10px;
  word-spacing: -1px;
}
._lower-last {
  margin-top: 12px;
}
._lower-tv {
  width: auto;
  margin-top: 0;
  margin-right: 2px;
  line-height: 16px;
}
.page-widgets__item-text_bold {
  font-weight: 600;
}
.page-widgets__item-tv-inner {
  display: flex;
  width: 200px;
  height: 37px;
  margin-top: 6px;
}
.tv-header {
  margin-left: 3px;
}
.tvnow-header {
  margin-bottom: 10px;
  margin-left: 11px;
  margin-top: -1px;
}
.tv-link {
  margin-right: 5px;
}
.page-widgets__item-header-button {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
  background-image: linear-gradient(315deg, #58c2ff 0%, #8080ff 100%);
  color: white;
  border: 0;
  border-radius: 3px;
  margin-left: 0px;
  margin-top: -3px;
  width: 51px;
}
.tv-item-last {
  margin-top: -11px;
}
.tv-info-link {
  margin-left: 9px;
}
.no-margin-left {
  margin-left: 0;
}
.widget-tv {
  margin-right: 23px;
}
.widget-tvnow {
  width: 150px;
  margin-top: 22px;
}
.tvnow {
  margin-top: 0px;
  margin-left: -8px;
  height: 30px;
}
.tvnow-item-center {
  margin-top: -4px;
  width: 210px;
}
.tvnow-item-last {
  margin-top: 12px;
  width: 210px;
}
.tvnow-info-link {
  margin-left: 9px;
}
.page-widgets__item-favicon {
  display: block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
}
.page-aside {
  position: absolute;
  right: 20px;
  top: 6px;
}
._post-inner {
  width: 180px;
  height: 177px;
}
.page-aside__items-card {
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-aside__post-header {
  margin-bottom: 3px;
  font-weight: 700;
  display: flex;
}
._username {
  margin-right: 11px;
  margin-top: 2px;
  margin-left: 1px;
}
._profile-img {
  width: 34px;
  height: 34px;
}
._username-first-letter {
  color: red;
}
.page-aside__item {
  margin-left: 2px;
  margin-bottom: 10px;
  display: flex;
}
.page-aside__item:last-child {
  margin-bottom: 0;
}
.page-aside__item-post {
  margin-right: 8px;
}
.page-aside__item-count {
  font-weight: 600;
}
.page-aside__item-img {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #999;
  margin-right: 5px;
}
._recommend-inner {
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 8px;
  height: 93px;
}
.page-aside__rec-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.page-aside__rec-header-img {
  margin-left: 1px;
  width: 24px;
  height: 24px;
  background: url(//yastatic.net/www/_/X/e/l8WN-ci5TMVFhr3s3hf1AB2oE.svg) no-repeat;
}
.page-aside__rec-header-link {
  margin-top: 4px;
  margin-right: 9px;
  margin-left: 2px;
}
._recommend-item {
  margin-bottom: 0;
}
.page-aside__item-list {
  margin-left: 3px;
  margin-top: 9px;
  font-size: 12px;
  display: flex;
}
.page-aside__item-list-circle {
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #01de51;
  width: 5px;
  height: 5px;
}
.page-media {
  margin-left: 46px;
  margin-right: 50px;
  margin-top: 16px;
  height: 333px;
}
.page-media__header {
  font-weight: 400;
  text-align: left;
  font-size: 22px;
  margin-bottom: 6px;
}
.page-media__tabs {
  display: flex;
}
.page-media__tab {
  background-color: #E6E6E6;
  padding: 10px 16px;
  border-radius: 3px;
  margin: 8px 9px 0 0;
}
.tab_selected {
  color: white;
  background-color: black;
}
.page-media__carousel {
  margin-top: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  width: 902px;
  height: 233px;
}
.page-media__item {
  position: relative;
  width: 120px;
  height: 180px;
  margin-left: 15px;
  margin-bottom: 2px;
  padding: 0;
  vertical-align: top;
  white-space: normal;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
.page-media__item:first-child {
  margin-left: 0;
}
.page-media__item-image {
  height: 180px;
  border-radius: 6px 6px 6px 8px;
  background: #dfdcd7 no-repeat 50% url(//yastatic.net/www/_/y/4/Jy-b3BgSC_rSXwEgmmoYVtrdE.svg);
  background-size: 54px 40px;
}
.page-media__item-text {
  height: 32px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.page-media__item-title {
  line-height: 1.24em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
._afisha {
  text-align: left;
}
.page-media__item-genre {
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  opacity: .4;
}
.page-media__controls {
  position: relative;
  bottom: 162px;
}
.page-media__control {
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-media__control-arrow {
  width: 18px;
  height: 18px;
}
._right-arrow {
  right: -8px;
}
._left-arrow {
  left: -8px;
  transform: scale(-1, 1);
}
.link {
  text-decoration: none;
  outline: none;
}
.link_black {
  color: black;
}
.link_blue {
  color: #0054b9;
}
.link_lightblue {
  color: #6da2e1;
}
body {
  margin: 0;
  font: 81.25% Arial, Helvetica, sans-serif;
}
.page {
  margin: 0 auto;
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
}
