@import "./components/headline.less";
@import "./components/rowlast.less";
@import "./components/main.less";
@import "./components/link.less";

body {
  margin: 0;
  font: 81.25% Arial, Helvetica, sans-serif;
}

.page {
  margin: 0 auto;
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
}

